body {
  margin: 0;
  font-family: PingFang;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background-image: url('background.jpg');
  background-size: cover;

  position: relative;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 80%;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column; */
}

.next {
  width: 50px;
  height: 50px;

  background-color: #36424b;
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: .2;
  /* font-size: 20px; */
}

.title {
  height: 10%;
  margin: 0;
  text-align: center;
  font-size: 80px;
  line-height: 150px;
  color: #929292;
  /* flex-basis: 200px; */
}

.content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.question {
  white-space: nowrap;
  text-align: center;
  font-size: 270px;
  margin: 0;
  width: 100%;
}

.go-draw {
  line-height: 210px;
  font-size: 100px;
  border-radius: 15px;
  width: 450px;
  text-align: center;
  /* background-color: darkcyan; */
  color: #cd5652;
    border: 6px solid #cd5652;
}
